.live-map {
  margin-top: 50px;
  width: 100%;
}

.live-map h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #262626;
}

.live-map .leaflet-container {
  width: 100%;
  height: 500px;
  border-radius: 15px;
  overflow: hidden;
  z-index: 1;
}